body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #474747;
}

.container {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    color: #DBDBDB;
}

.content {
    position: relative;
}

.content a:link,
.content a:visited {
    color: #DBDBDB;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    font-weight: normal;
}

.main-icon {
    text-align: center;
}

hr.style-gradient {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
